h1.page-title {
    line-height: var(--bs-body-line-height);
}

.btn {
    font-weight: 500;
    font-size: 90%;
}
.btn-restart {
    font-size: 100%;
}

.form-signin {
    max-width: 420px;
    padding: 1rem;
}

.card-responsive {
    @media (min-width: 576px) {
        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);
        background: #fbfbfb;
    }
}

.btn-light {
    border-color: var(--bs-border-color-translucent);
}

.lead {
    font-weight: 200;
    font-size: 24px;
}

.lead strong {
    font-weight: 400;
}

.form-label {
    font-weight: 500;
    font-size: 90%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.form-sublink {
    float: right;
    font-size: 85%;
    margin-top: .15rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: var(--bs-border-color-translucent);
}

.divider::before {
    margin-right: 0.5rem;
}

.divider::after {
    margin-left: 0.5rem;
}

.social-button {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    opacity: 0.6;
}

.social-button:hover {
    opacity: 1;
}

.social-icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
}

.flex-list-item {
    min-height: 100px;
}

ul.no-list {
    margin-bottom: 0;
    padding: 0;
}
ul.no-list li {
    display: block;
}

.password-visibility-icon {
    width: 20px;
}
.restart-login-icon {
    width: 20px;
}

.invalid-feedback {
    display: block;
}

.locale-dropdown-button {
    @extend .btn;
    @extend .btn-light;
    @extend .dropdown-toggle;
}

.form-control[aria-invalid="true"] {
    @extend .form-control, .is-invalid
}

.menu-max-height {
    max-height: 20rem;
    overflow-y: scroll;
}

.vfix {
    vertical-align: -.125em;
}
.vfix-list {
    margin-top: -0.25em;
}

.display-none {
    display: none;
}

.select-login-text {
    font-weight: normal;
}

.auth-list-icon {
    font-size: 1.25rem;
}

select.form-control {
    @extend .form-select
}
